body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
header {
  font-weight: bold;
  color: #000;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-bottom: 50px;
  padding: 20px;
}
.pictures {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
}
.growtopia p {
  margin: 0;
  font-size: 25px;
  color: #000;
}
.growtopia h1 {
  font-size: 50px;
  font-family: bold;
  margin: 0;
  color: #000000;
  padding: 10px;
}

.growtopia {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(growtopia.jpg);
  background-attachment: fixed;
  padding: 0;
}

div.information {
  background-position: center;
  background-size: cover;
  height: 341px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-image: url(troll1.PNG);
  width: 50%;
  color: #fff;
  background-repeat: no-repeat;
}
@media screen and (max-width: 960px) {
  div.information {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}


